<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1371/journal.pcbi.1004070">Quantifying two-dimensional filamentous and invasive growth spatial patterns in yeast colonies</a>.
			</span><br />
			<span class="authors">
				Binder, Benjamin J and Sundstrom, Joanna F and Gardner, Jennifer M and Jiranek, Vladimir and Oliver, Stephen G.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS computational biology</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>